*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  position: relative;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
