.header {
  padding: 20px 30px;
  background-color: #ffffff;
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-logo {
  @import url("https://font.googleapis.com/css2?family=Pacifico&display=swap");
  font-family: "Pacifico", cursive;
  display: inline-block;
  width: 120px;
  font-size: 3rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.562);
}
.header__nav-nav {
  width: calc(100% - 120px);
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  cursor: pointer;
  text-align: center;
}
.header__nav-nav-link {
  width: 75px;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.header__nav-nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.header__nav-nav-btn {
  background-color: #26ae61;
  border: 2px solid #18ab29;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 9px 14px;
  width: 150px;
  color: #ffffff;
}
.header__nav-nav-btn:hover {
  background-color: #27b263;
  color: #ffffff;
}

.green {
  display: inline-block;
  color: green;
  animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 20px;
  display: flex;
}
.hero__img {
  width: 50%;
}
.hero__img img {
  max-width: 100%;
  object-fit: cover;
}
.hero__body {
  width: 50%;
  padding-top: 100px;
}
.hero__body h2 {
  font-size: 3.8rem;
  color: #595959;
}
.hero__body p {
  font-size: 1.6rem;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

#search {
  width: 99%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
#search .form-group {
  width: calc(100% - 50px);
}
#search input[name=title] {
  border-right: 1px solid #cacacd;
}
#search input {
  height: 50px;
  border-radius: 0;
  border: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  outline: 5px solid #c7f3da;
}
#search input:focus {
  outline: none;
}
#search button {
  width: 100px;
  height: 57px;
  background: #0554f2;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}
#search button:hover {
  background: #1662fa;
}
#search button:active {
  font-size: 1.47rem;
  outline: none;
}

.jobs {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
.jobs h2 {
  font-size: 3.8rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.jobs__board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.jobs__board-item:not(:last-child) {
  margin-right: 20px;
}
.jobs__board-item {
  display: flex;
  align-items: center;
  outline: 1px solid rgba(185, 184, 184, 0.8);
  width: 400px;
  padding: 40px 10px;
  margin-top: 40px;
}
.jobs__board-item-left {
  width: calc(100% - 100px);
}
.jobs__board-item-left h3 {
  font-size: 2.2rem;
  color: #333333;
}
.jobs__board-item-left a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: #0554f2;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.jobs__board-item-left ul {
  list-style: none;
}
.jobs__board-item-left ul li {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3px 1px;
  color: #414853;
}
.jobs__board-item-right {
  width: 100px;
}
.jobs__board-item-right ul {
  list-style: none;
}
.jobs__board-item-right ul li {
  display: block;
  font-size: 14px;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #38a745 0%, #4cce5b 63%);
  border-image-slice: 1;
  text-align: center;
  width: 95px;
  margin-bottom: 10px;
  margin-left: auto;
}
.jobs__board-item-right ul li:last-child {
  border: 1px solid #38a745;
  background-image: linear-gradient(90deg, #38a745 0%, #4cce5b 63%);
}
.jobs__board-item-right ul a {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}
.jobs__board-item-right ul a.job-type {
  color: white;
}
.jobs__board-item-right .apply:hover {
  background: #26ae61;
}
.jobs__board-item-right .apply:hover a {
  color: #ffffff;
}
.jobs__footer {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.jobs__footer button {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #38a745;
  background-image: linear-gradient(90deg, #38a745 0%, #4cce5b 63%);
  border-image-slice: 1;
  text-align: center;
  width: 150px;
  padding: 15px 6px;
  color: #ffffff;
  font-weight: bold;
}
.jobs__footer button:hover {
  background: #3caf49;
}

.about {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.about__img {
  width: 50%;
}
.about__img img {
  max-width: 100%;
  object-fit: cover;
}
.about__body {
  width: 50%;
  padding: 5px 25px;
  margin-top: 20px;
}
.about__body h2 {
  font-size: 3.8rem;
  width: 100%;
  text-align: center;
  color: #333333;
}
.about__body p {
  font-size: 1.6rem;
  margin-top: 15px;
  letter-spacing: 0.3px;
  color: #333333;
}

.footer {
  padding: 40px 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.918);
  background: #333333;
  width: 100%;
  margin-top: 60px;
}
.footer small {
  font-size: 1.3rem;
  word-spacing: 1px;
  opacity: 0.9;
}

@media (max-width: 859px) {
  .jobs__board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .jobs__board-item {
    display: flex;
    width: 100%;
  }
  .jobs__board-item-left {
    width: calc(100% - 150px);
  }
  .jobs__board-item-right {
    width: 140px;
    margin-left: 10px;
  }
  .jobs__board-item-right ul li {
    width: 100%;
  }
  .jobs__board-item-right ul a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 800px) {
  .hero {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 450px;
  }
  .hero__img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
  }
  .hero__img img {
    max-width: 100%;
    object-fit: cover;
  }
  .hero__body {
    position: relative;
    z-index: 5;
    text-align: center;
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .hero__body p {
    font-weight: bold;
    opacity: 0.8;
  }

  #search {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }
  #search .form-group {
    width: 100%;
  }
  #search input {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
  }
  #search button {
    display: inline-block;
    width: 100%;
    outline: none;
    font-size: 2rem;
  }
  #search button:active {
    font-size: 1.95rem;
  }
}
@media (max-width: 830px) {
  .about {
    flex-direction: column;
    position: relative;
    margin-top: 50px;
  }
  .about__img {
    width: 100%;
    opacity: 0.7;
    order: 2;
    margin-top: -220px;
  }
  .about__body {
    width: 100%;
    order: 1;
    z-index: 5;
  }
}
@media (max-width: 520px) {
  .heading-two {
    font-size: 3.2rem !important;
  }

  .header__nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header__nav-nav {
    width: 100%;
    justify-content: center;
  }
  .header__nav-nav-btn {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header__nav-logo {
    width: 120px;
    font-size: 2.7rem;
    margin-bottom: 10px;
  }

  .hero__body {
    width: 90%;
  }
}
@media (max-width: 420px) {
  .jobs__board-item {
    flex-direction: column;
  }
  .jobs__board-item-left {
    margin-bottom: 15px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
