.header {
   padding: 20px 30px;
   background-color: $white;
   width: 100%;

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-logo {
         @import url("https://font.googleapis.com/css2?family=Pacifico&display=swap");
         font-family: "Pacifico", cursive;
         display: inline-block;
         width: 120px;
         font-size: 3rem;
         text-decoration: none;
         color: rgba(0, 0, 0, 0.562);
      }

      &-nav {
         width: calc(100% - 120px);
         display: flex;
         align-items: center;
         list-style: none;
         justify-content: flex-end;
         cursor: pointer;
         text-align: center;

         &-link {
            width: 75px;
            font-size: 1.7rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7);

            &:hover {
               color: rgba(0, 0, 0, 0.8);
            }
         }

         &-btn {
            background-color: $green;
            // border-radius: 31px;
            border: 2px solid #18ab29;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: bold;
            padding: 9px 14px;
            width: 150px;
            color: $white;

            &:hover {
               background-color: lighten($green, 1%);
               color: $white;
            }
         }
      }
   }
}

.green {
   display: inline-block;
   color: green;
   animation: pulse 1s linear infinite;
   -webkit-animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
   25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
}

@keyframes pulse {
   25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
}
