.hero {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/bg-hero.jpg);
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  color: white;
  border-bottom: 4px groove black;

  &-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);

    h1 {
      font-size: 4.5rem;
      border-top: 4px groove $yellow;
    }

    p {
      font-size: 1.6rem;
      margin-top: 5px;
      font-weight: 300;
      letter-spacing: 0.3px;
    }
  }
}
