@media (max-width: 859px) {
   .jobs {
      &__board {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;

         &-item {
            display: flex;
            width: 100%;

            &-left {
               width: calc(100% - 150px);
            }

            &-right {
               width: 140px;
               margin-left: 10px;

               ul {
                  li {
                     width: 100%;
                  }

                  button {
                     padding-top: 15px;
                     padding-bottom: 15px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 800px) {
   .hero {
      position: relative;
      display: inline-block;
      overflow: hidden;
      height: 450px;

      &__img {
         width: 100%;
         position: absolute;
         top: 0;
         opacity: 0.7;

         img {
            max-width: 100%;
            object-fit: cover;
         }
      }

      &__body {
         position: relative;
         z-index: 5;
         text-align: center;
         width: 70%;
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);

         p {
            font-weight: bold;
            opacity: 0.8;
         }
      }
   }

   #search {
      display: flex;
      flex-direction: column;
      align-items: initial;

      .form-group {
         width: 100%;
      }

      input {
         width: 100%;
         display: inline-block;
         margin-bottom: 15px;
      }

      button {
         display: inline-block;
         width: 100%;
         outline: none;
         font-size: 2rem;

         &:active {
            font-size: 1.95rem;
         }
      }
   }
}

@media (max-width: 830px) {
   .about {
      flex-direction: column;
      position: relative;
      margin-top: 50px;

      &__img {
         width: 100%;
         opacity: 0.7;
         order: 2;
         margin-top: -220px;
      }

      &__body {
         width: 100%;
         order: 1;
         z-index: 5;
      }
   }
}

@media (max-width: 600px) {
   .footer {
      flex-direction: column;

      &__logo {
         margin-bottom: 10px;
      }

      &__links {
         width: 100%;
      }
   }
}

@media (max-width: 520px) {
   .heading-two {
      font-size: 3.2rem !important;
   }

   .header {
      &__nav {
         display: flex;
         justify-content: center;
         flex-direction: column;

         &-nav {
            width: 100%;
            justify-content: center;

            &-btn {
               font-size: 1.5rem;
               font-weight: bold;
            }
         }

         &-logo {
            width: 120px;
            font-size: 2.7rem;
            margin-bottom: 10px;
         }
      }
   }

   .hero {
      &__body {
         width: 90%;
      }
   }

   .signup {
      width: 95%;
   }
}

@media (max-width: 420px) {
   .jobs {
      &__board {
         &-item {
            flex-direction: column;

            &-left {
               margin-bottom: 15px;
               width: 100%;
            }
         }
      }
   }

   .footer {
      h1 {
         font-size: 3.5rem;
      }

      &__links {
         flex-direction: column;

         ul:not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }
}

@media (max-width: 320px) {
   .header {
      &__nav-nav {
         flex-direction: column;

         li:not(:last-child) {
            margin-bottom: 6px;
         }
      }
   }
}
