@media (max-width: 520px) {
   .header {
      &__nav {
         display: flex;
         justify-content: center;
         flex-direction: column;

         &-nav {
            width: 100%;
            justify-content: center;

            &-btn {
               font-size: 1.5rem;
               font-weight: bold;
            }
         }

         &-logo {
            width: 120px;
            font-size: 2.7rem;
            margin-bottom: 5px;
         }
      }
   }

   .hero {
      &-body {
         padding: 5px;

         h1 {
            font-size: 3.5rem;
         }

         p {
            width: 100%;
            text-align: center;
         }
      }
   }
}

@media (min-width: 0) and (max-width: 840px) {
   .hero {
      &-body {
         width: 99%;
         text-align: center;

         p {
            width: 419px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
         }
      }
   }
}

@media (max-width: 300px) {
   .hero {
      &-body {
         h1 {
            font-size: 3.2rem;
         }
      }
   }
}
