@media (min-width: 0) and (max-width: 840px) {
  .hero {
    &-body {
      width: 99%;
      text-align: center;

      p {
        width: 419px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    &-logo {
      width: calc(100% - 160px);
      font-size: 1.8rem;
    }

    &-auth {
      width: 150px;
      text-align: right;
    }
  }
}

@media (max-width: 680px) {
  .banner {
    a {
      display: inline-block;
      text-align: center;
      font-size: 2.2rem;
      width: 250px;
    }
  }
}

@media (max-width: 639px) {
  .grid {
    &-container {
      display: inline-block !important;
    }

    &-item:not(:last-child) {
      margin-bottom: 35px;
    }

    &-item {
      video {
        height: 250px;
      }
    }
  }

  .instructorPage {
    &-hero-body {
      width: 80%;
    }
  }

  .uploadModal {
    width: 90%;
  }

  .messageModal {
    width: 90%;
  }
}

@media (max-width: 520px) {
  .hero {
    &-body {
      padding: 5px;

      h1 {
        font-size: 3.5rem;
      }

      p {
        width: 100%;
        text-align: center;
      }
    }
  }

  .instructorPage {
    &-hero-body {
      width: 86%;
    }

    h1 {
      font-size: 3.5rem;
    }
  }

  .dashboard {
    padding: 30px 20px;

    h1 {
      font-size: 3.5rem;
    }

    .form-group {
      input,
      textarea {
        padding: 13px 10px;
        font-size: 1.6rem;
      }
    }

    .video-label {
      font-size: 1.6rem;
      letter-spacing: 0.4px;
    }

    .button-blue {
      padding-right: 2px;
      padding-left: 2px;
      font-size: 2rem;
    }
  }

  .notification {
    h1 {
      font-size: 2.2rem;
    }
  }

  .button-wrapper {
    display: inline-block;
  }

  .login-btn {
    margin-right: 0;
  }

  .nomatch {
    h1 {
      font-size: 7rem;
    }

    h2 {
      font-size: 4rem;
    }
  }
}

@media (max-width: 300px) {
  .hero {
    &-body {
      h1 {
        font-size: 3.2rem;
      }
    }
  }

  .banner {
    a {
      font-size: 1.8rem;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 90%;
    }
  }

  .instructorPage {
    h1 {
      font-size: 3.2rem;
    }
  }

  .dashboard {
    h1 {
      font-size: 3.2rem;
    }
  }

  .notification {
    h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 280px) {
  .first-letter {
    display: inline;
    animation: none;
    -webkit-animation: none;
  }

  .instructorPage {
    a {
      padding: 15px 5px;
      font-size: 1.7rem;
    }
  }
}
